ul#gramituldented li img:hover {
    -webkit-transform:scale(1.8);
    -moz-transform:scale(1.8);
    -o-transform:scale(1.8)
}

@media only screen and (max-width:480px) {
    ul#gramituldented li {
        width:50%;
        margin:2%
    }
}